
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

div {
  font-family: cursive;
}

li{
  list-style: none;
}

.item {
  margin: 0 40px;
}

.cursive-fancy {
  font-family: 'Cedarville Cursive', cursive;
}

.cursive {
  font-family: cursive;
}

.heading{
  display: inline-block;
}

.logo {
  height: 55px;
  width: 90px;
}

#app {
  width: 50%;
}
